.cont-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.product {
  width: 30%;
}

.product__category {
  color: #8D8D8D;
  grid-area: category;
}

.product__cont-info {
  display: grid;
  grid-template-areas: 
  "title price"
  "category category";
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr 1fr;
  padding: 10px 10px 30px;

  p {
    font-family: $secundary-font;
  }
}

.product__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 325px;
}

.product__price {
  grid-area: price;
  justify-self: flex-end;
}

.product__title {
  grid-area: title;
}
