.product-info {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-template-areas: 
    "left right";
  height: 80vh;
  overflow: hidden;
  width: 100%;
}

.product-info__desc-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-info__image {
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 70%;
  width: 80%;
}

.product-info__left {
  display: flex;
  flex-direction: column;
  grid-area: left;
  justify-content: space-between;
}

.product-info__right {
  grid-area: right;
  justify-self: center;
  overflow: auto;
  padding-right: 10%;
  width: 70%;
}

.slider {
  width: 100%;
}

.slider__cont {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 20px 0;
}

.slider__button {
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.slider__item {
  height: 50px;
  position: relative;
  width: 50px;
}

.slider__item--active:before {
  background-color: rgba(0,0,0,0.2);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sizes {
  margin: 20px 0;
}

.sizes__button {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #eee;
  transition: 0.2s;

  &:hover {
    border-color: black;
    transition: 0.5s;
  }
}

.sizes__cont {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  button {
    height: 50px;
    width: 50px;
  }
}

.sizes__title {
  padding-bottom: 5px;
}

.product-info__btn-add {
  background-color: black;
  border-radius: 25px;
  border: 2px solid black;
  color: white;
  height: 46px;
  margin: 20px 0;
  transition: 0.2s;
  width: 100%;

  &:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }
}

.sizes__item--active {
  button {
    background-color: black;
    border-color: black;
    color: white;
  }
}
